Faker
pillow
markdown
python-dateutil

Django==5.2.11
django-environ
django-filter
django-allauth==65.0.2
django-resized
python-decouple
django-crispy-forms
djangorestframework
dj-rest-auth
requests

crispy-bootstrap5
django-browser-reload
drf-yasg
django-phonenumber-field[phonenumbers]

PyJWT
cryptography
paramiko

mailchimp_transactional
fido2