{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load core_tags %}

{% block subtitle %}
    Group {% if object %} Update{% else %} Create{% endif %} Form
{% endblock %}


{% block content %}
    <style>

.form-select[multiple], .form-select[size]:not([size="1"]) {
    height: 269px;
}
    </style>
    <div class="container-fluid">
        <div class="d-flex flex-column">
            <!-- Toolbar -->
            <div class="mb-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div class="d-flex flex-column me-3">
                        <h1 class="h3 fw-bold mb-0">
                            Group {% if object %} Update{% else %} Create{% endif %} Form
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 pt-1">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'accounts:cross-auth' %}" class="text-muted text-decoration-none">
                                        Dashboard
                                    </a>
                                </li>
                                {% if object %}
                                    <li class="breadcrumb-item">
                                        <a href="javascript:window.history.back();"
                                           class="text-muted text-decoration-none">
                                            {{ object }}
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item text-muted">
                                        Update
                                    </li>
                                {% else %}
                                    <li class="breadcrumb-item text-muted">
                                        Create
                                    </li>
                                {% endif %}
                            </ol>
                        </nav>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="javascript:window.history.back();" class="btn fw-bold btn-primary shadow-sm">
                            <i class="bx bx-arrow-back"></i> Back
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Toolbar -->
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card p-4">
                        <div class="card-body">

                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <small class="mb-4">Select multiple permission </small><br>
                                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const phoneInput = document.getElementById('id_phone_number');
            phoneInput.addEventListener('input', function (e) {
                let numbers = this.value.replace(/\D/g, ''); // Remove all non-digits
                if (numbers.length > 10) numbers = numbers.slice(0, 10); // Only 10 digits allowed

                let formatted = '';
                if (numbers.length > 0) {
                    formatted += '(' + numbers.substring(0, 3);
                }
                if (numbers.length >= 4) {
                    formatted += ') ' + numbers.substring(3, 6);
                }
                if (numbers.length >= 7) {
                    formatted += '-' + numbers.substring(6, 10);
                }

                this.value = formatted;
            });
        });
    </script>
{% endblock %}



