{% extends 'base.html' %}
{% load static crispy_forms_tags core_tags widget_tweaks %}

{% block subtitle %}
    {{ perm_model }} List
{% endblock %}

{% block content %}

    <div class="container-fluid" id="kt_app_main">
        <div class="d-flex flex-column">
            <div class="mb-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div class="d-flex flex-column me-3">
                        <h1 class="h3 fw-bold mb-0">{% model_app_name view.model %}</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 pt-1 text-muted">
                                {% block breadcrumbs %}
                                    <li class="breadcrumb-item">
                                        {% model_verbose_name view.model %}
                                    </li>
                                    <li class="breadcrumb-item">List</li>
                                {% endblock %}
                            </ol>
                        </nav>
                    </div>
                    <div class="d-flex align-items-center">
                        {% block toolbar_actions %}
                            <a href="javascript:window.history.back();" class="btn fw-bold btn-primary shadow-sm">
                                <i class="bx bx-arrow-back"></i> Back
                            </a>
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div class="card shadow-sm">
                {% block filter %}
                    {% include 'include/globals/filter_form.html' %}
                {% endblock %}

                <div class="card-body">
                    {% if object_list %}
                        <div class="table-responsive">
                            <table class="table table-hover align-middle mb-0">
                                {% block sub_content %}{% endblock %}
                            </table>
                        </div>
                    {% else %}
                        {% include 'include/globals/data-not-found.html' %}
                    {% endif %}
                </div>

                {% block pagination %}
                	{% include 'include/globals/pagination.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
