{% load core_tags %}
{% load static %}
<header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box horizontal-logo">
                    <a href="{% url 'dashboard:dashboard' %}" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{% static 'core/images/logos/logo-h-indigo-full.png' %}" alt="" height="25">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'core/images/logos/logo-h-indigo-full.png' %}" alt="" height="25">
                        </span>
                    </a>

                    <a href="{% url 'dashboard:dashboard' %}" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{% static 'core/images/logos/logo-h-light-original.png' %}" alt="" height="25">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'core/images/logos/logo-h-light-original.png' %}" alt="" height="25">
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger"
                        id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>

            </div>


            <div class="d-flex align-items-center">
                
                <div class="dropdown ms-sm-3 header-item topbar-user">
                    <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <img class="rounded-circle header-profile-user"
                                 src="{{ request.user.profile_image|image_or_placeholder }}"
                                 alt="Header Avatar">
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <h6 class="dropdown-header">Welcome {{ request.user.username }}!</h6>
                        <a class="dropdown-item" href="{% url 'accounts:user_update_full' request.user.id %}"><i
                                class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span
                                class="align-middle">Account</span></a>
                        <a class="dropdown-item" href="{% url 'accounts:user-password-change-view' %}"><i
                                class=" ri ri-lock-password-line text-muted fs-16 align-middle me-1"></i> <span
                                class="align-middle">Security</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account_logout' %}"><i
                                class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span
                                class="align-middle" data-key="t-logout">Logout</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    window.addEventListener('load', function () {
        const emptyNotificationElems = document.querySelectorAll('.empty-notification-elem');
        emptyNotificationElems.forEach(function (elem) {
            elem.style.display = 'none';
        });
    });
</script>